*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    width: 100vw;
display: flex;
filter: grayscale();
}
.left,.right{
    width: 80%;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-size: cover;

}
.left{
    background-color: orange;
    background-image: url(/assets/left.jpeg);
    

}
.right{
    background-color: bisque;
    background-image: url(/assets/right.png);
}